<!DOCTYPE html>
<html>
<head>

<title>Wishlist</title>

<style>

body{
font-family: Arial;
}

.container{
display:flex;
flex-wrap:wrap;
gap:30px;
padding:40px;
}

.card{
border:1px solid #ddd;
padding:20px;
width:250px;
text-align:center;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
border-radius:10px;
}

.card img{
width:200px;
height:200px;
object-fit:cover;
}

button{
padding:10px;
margin-top:10px;
background:black;
color:white;
border:none;
cursor:pointer;
width:100%;
}

.empty{
text-align:center;
margin-top:100px;
font-size:22px;
}

</style>

</head>

<body>


<h2 style="text-align:center">Your Wishlist</h2>


{% if wishlist_items %}

<div class="container">

{% for item in wishlist_items %}

<div class="card">

<img src="{{ item.product.image.url }}">

<h3>{{ item.product.name }}</h3>

<p>₹ {{ item.product.price }}</p>

<a href="/remove-from-wishlist/{{ item.product.id }}/">
<button>Remove</button>
</a>

<a href="/add-to-cart/{{ item.product.id }}/">
<button>Add to Cart</button>
</a>

</div>

{% endfor %}

</div>

{% else %}

<div class="empty">

<p>Your Wishlist is Empty ❤️</p>

<a href="/">
<button>Continue Shopping</button>
</a>

</div>

{% endif %}


</body>
</html>